.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  display: grid;
  place-items: center;
  position: absolute;
  right: 0;
  top: 110%;
  bottom: 10px;
  cursor: pointer;
  z-index: 15;
  transition: 1s ease; }

.button_active {
  transform: rotate(180deg);
  display: block;
  top: 108%; }

.arrow {
  color: #fff;
  display: inline-block;
  font-size: 40px;
  margin-left: -5px;
  animation-timing-function: ease;
  color: #282828;
  width: 100%; }

.code-box {
  width: 80%;
  height: auto;
  background-color: #282828;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  display: block;
  opacity: 0%;
  transform: translate(0px, 0px);
  animation-duration: 2s;
  animation-timing-function: ease;
  overflow: hidden; }

.code-box_result .code-box__item .code-result .code {
  margin-left: -45px; }

.code-box_active {
  opacity: 100%;
  transform: translate(0px, 0px); }

.arrow__active {
  transform: rotate(-180deg);
  margin-left: 5px; }

.code-box__item {
  height: 50px;
  width: 100%;
  border-bottom: 2px solid #2c2c2e; }

.string__number {
  color: #ddd;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 100%;
  border-right: 2px solid #ddd;
  padding-right: 10px;
  line-height: 50px; }

.code {
  color: #f04236;
  font-size: 20px;
  padding-left: 42px;
  line-height: 50px;
  margin-top: -50px;
  play-during: 10px; }

.code-box-scrolling {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow-x: auto; }

.code-box-scrolling::-webkit-scrollbar {
  width: 50px !important;
  height: 5px !important;
  background-color: #282828 !important;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.code-box-scrolling::-webkit-scrollbar-thumb {
  background: #f04236 !important;
  border-radius: 0px !important; }

.code-comment {
  color: #747474; }

.code-result {
  color: #4a76a8; }

.gears__block {
  height: 200px;
  width: 100%;
  grid-template: repeat(2, 1fr)/100px 200px 100px 200px 100px 200px;
  display: none;
  margin-bottom: 60px; }

.gear__item {
  width: 200px;
  height: auto;
  display: block;
  animation-name: gear;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.gear__item_small {
  width: 100px;
  height: auto;
  animation-name: gear;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@media (max-width: 1440px) {
  .code-box {
    width: 100%; }
  .code-box_result {
    margin-bottom: 100px; } }

@media (max-width: 1181px) {
  .code-box__item {
    height: 30px; }
  .code,
  .string__number {
    font-size: 15px;
    line-height: 33px; }
  .code {
    margin-top: -30px; }
  .gears__block {
    height: 100px;
    grid-template: repeat(2, 1fr)/50px 100px 50px 100px 50px 100px; }
  .gear__item {
    width: 100px; }
  .gear__item_small {
    width: 50px; } }

@media (max-width: 991px) {
  .code {
    font-size: 12px; } }

@media (max-width: 769px) {
  .code-box {
    padding: 15px; }
  .code {
    font-size: 10px;
    margin-left: 0px; }
  .gears__block {
    height: 60px;
    grid-template: repeat(2, 1fr)/30px 60px 30px 60px 30px 60px;
    margin-bottom: 30px; }
  .gear__item {
    width: 60px; }
  .gear__item_small {
    width: 30px; } }

@media (max-width: 571px) {
  .code-box {
    padding: 10px; }
  .code-box__item {
    height: 20px; }
  .code {
    font-size: 10px;
    margin-top: -26px;
    padding-left: 27px; }
  .code-result {
    padding-left: 47px; }
  .string__number {
    font-size: 12px;
    margin-top: -10px;
    border: 0;
    position: relative;
    width: 20px; }
  .string__number::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -8px;
    height: 130%;
    width: 2px;
    background: #ddd; } }

@media (max-width: 400px) {
  .string__number {
    font-size: 10px;
    width: 15px;
    display: inline-block;
    heigth: 30px; } }

@keyframes gear {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
