/* prestyles */
@font-face {
  font-family: "Liberation";
  src: url(../fonts/LiberationMono-Bold.woff); }

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  box-shadow: 0;
  font-family: Liberation;
  color: #282828; }

a {
  text-decoration: none; }

body {
  min-width: 520px; }

.content {
  width: 100%;
  height: 100%; }

/* Header styles */
header {
  background: #000;
  width: 100%;
  height: 80px; }

.header__container {
  width: 85%;
  margin: 0 auto;
  position: relative; }

.logotype {
  display: inline-box;
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 80px;
  position: absolute;
  left: 0; }

.header__title {
  font-size: 30px;
  color: #fff;
  line-height: 80px;
  font-weight: 800;
  position: absolute;
  right: 0; }

/* Main styles */
main {
  width: 100%;
  height: auto;
  padding: 50px 7.5%;
  background: #ddd; }

.main__content {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 5px;
  padding: 30px 50px; }

.main__block {
  height: auto;
  position: relative; }

.title {
  display: block;
  font-size: 40px;
  margin-bottom: 15px; }

.text {
  font-size: 30px; }

.separator {
  width: 100%;
  height: 4px;
  background: #282828;
  margin: 60px auto;
  border-radius: 10px; }

.hidden-separator {
  width: 100%;
  height: 4px;
  margin: 60px auto; }

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #282828;
  display: grid;
  place-items: center;
  position: absolute;
  right: 0;
  bottom: 10px;
  cursor: pointer; }

.arrow {
  color: #fff;
  display: block;
  font-size: 40px;
  transform: rotate(90deg);
  margin-left: -5px;
  animation-timing-function: ease;
  transition: 1s ease; }

.portraits__block {
  position: relative;
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 70px; }

.portrait {
  height: 500px;
  width: auto;
  display: grid; }

.portrait__image {
  height: 460px;
  border: 3px solid #282828;
  border-bottom: 0;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -5px; }

.border__table {
  height: 40px;
  width: 100%;
  border: 3px solid #282828;
  border-radius: 5px;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  display: grid;
  justify-items: center; }

.portrait__lable {
  font-size: 20px;
  display: block;
  line-height: 40px; }

#diffie,
#hellman {
  justify-self: center; }

.code__box {
  width: 80%;
  height: auto;
  background-color: #282828;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  display: none;
  opacity: 0%;
  transform: translate(2000px, 0px);
  animation-duration: 2s;
  animation-timing-function: ease; }

.code__box_active {
  display: block;
  opacity: 100%;
  transform: translate(0px, 0px); }

.arrow__active {
  transform: rotate(-90deg);
  margin-left: 5px; }

.code__box__item {
  height: 50px;
  width: 100%;
  border-bottom: 2px solid #2C2C2E; }

.string__number {
  color: #ddd;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 100%;
  border-right: 2px solid #ddd;
  padding-right: 10px;
  line-height: 50px; }

.code {
  color: #F04236;
  font-size: 20px;
  padding-left: 50px;
  line-height: 50px;
  margin-top: -50px; }

.code-comment {
  color: #747474; }

.code-result {
  color: #4A76A8; }

.non-margin {
  margin-left: -50px; }

.gears__block {
  height: 200px;
  width: 100%;
  grid-template: repeat(2, 1fr)/100px 200px 100px 200px 100px 200px;
  display: none;
  margin-bottom: 60px; }

.gears__block_active {
  display: grid; }

.gear__item {
  width: 200px;
  height: auto;
  display: block;
  animation-name: gear;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.gear__item_small {
  width: 100px;
  height: auto;
  animation-name: gear;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.h-title {
  display: none; }

.menu {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 50px;
  border-radius: 5px;
  background: #fff; }

.menu__list {
  list-style-type: none;
  display: grid;
  grid-template: 1fr/repeat(4, 1fr); }

.menu__item {
  font-size: 25px;
  display: block;
  height: 50px;
  width: 100%;
  place-self: center;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s linear; }

.menu__item:hover {
  background-color: #000;
  color: #fff; }

.extreme-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.extreme-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

/*Keyframes*/
@keyframes gear {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*Media questions*/
@media (max-width: 1680px) {
  .menu__item {
    font-size: 20px; } }

@media (max-width: 1440px) {
  .code__box {
    width: 100%; }
  .code__box_result {
    margin-bottom: 100px; } }

@media (max-width: 1181px) {
  .menu__item {
    font-size: 15px; }
  .logotype {
    font-size: 30px; }
  .header__title {
    font-size: 20px; }
  .title {
    font-size: 30px; }
  .text {
    font-size: 24px; }
  .code__box__item {
    height: 30px; }
  .code,
  .string__number {
    font-size: 15px;
    line-height: 33px; }
  .code {
    margin-top: -30px; }
  .gears__block {
    height: 100px;
    grid-template: repeat(2, 1fr)/50px 100px 50px 100px 50px 100px; }
  .gear__item {
    width: 100px; }
  .gear__item_small {
    width: 50px; }
  .portraits__block {
    height: 300px; }
  .portrait {
    height: 300px; }
  .portrait__image {
    height: 270px; }
  .border__table {
    height: 30px; }
  .portrait__lable {
    font-size: 15px;
    line-height: 30px; } }

@media (max-width: 991px) {
  header {
    height: 60px; }
  .logotype {
    font-size: 24px;
    line-height: 70px; }
  .header__title {
    font-size: 18px;
    line-height: 68px; }
  .title {
    font-size: 25px; }
  .text {
    font-size: 20px; }
  .hidden-separator {
    margin: 30px auto; }
  .code {
    font-size: 12px; } }

@media (max-width: 870px) {
  .menu {
    height: 35px;
    margin-bottom: 20px; }
  .menu__list {
    height: 35px; }
  .menu__item {
    height: 35px;
    line-height: 35px;
    font-size: 12px; } }

@media (max-width: 769px) {
  .title {
    font-size: 20px; }
  .text {
    font-size: 15px; }
  .code__box {
    padding: 15px; }
  .code {
    font-size: 10px;
    margin-left: -20px; }
  .non-margin {
    margin-left: -50px; }
  .string__number {
    font-size: 12px;
    width: 20px; }
  .gears__block {
    height: 60px;
    grid-template: repeat(2, 1fr)/30px 60px 30px 60px 30px 60px;
    margin-bottom: 30px; }
  .gear__item {
    width: 60px; }
  .gear__item_small {
    width: 30px; }
  .hidden-separator {
    margin: 20px auto; } }

@media (max-width: 680px) {
  main {
    padding: 30px 0; }
  .menu__item {
    border-radius: 0; } }

@media (max-width: 571px) {
  header {
    height: 50px; }
  .logotype {
    font-size: 20px;
    line-height: 55px; }
  .header__title {
    font-size: 14px;
    line-height: 55px; }
  .main__content {
    padding: 30px 30px; }
  .title {
    font-size: 18px; }
  .text {
    font-size: 12px; }
  .code__box {
    padding: 10px; }
  .code__box__item {
    height: 20px; }
  .code {
    font-size: 10px;
    margin-top: -27px; }
  .string__number {
    font-size: 10px;
    line-height: 20px; }
  .portraits__block {
    height: 200px;
    margin-top: 40px; }
  .portrait {
    height: 200px; }
  .portrait__image {
    height: 180px; }
  .border__table {
    height: 20px; }
  .portrait__lable {
    font-size: 10px;
    line-height: 20px; } }
