.tp-block {
  height: auto;
  position: relative; }

.tp-example__box {
  display: none;
  width: 100%; }

.tp-example {
  width: 100%;
  display: block;
  margin: 10px 0;
  position: relative; }

.tp-title {
  font-size: 25px;
  margin-bottom: 10px; }

.tp-link {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 15px;
  margin-right: 15px; }

.tp-link::before {
  margin-right: 5px; }

.tp-subtitle, tp-example-subtitle {
  margin: 20px 0; }

.tp-image__box {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
  text-align: center; }

.tp-image {
  width: 100%;
  margin-bottom: 2px;
  border-radius: 3px; }

.tp-sublink {
  font-size: 15px;
  cursor: pointer;
  margin-left: 15px;
  color: #efcea9; }

.tp-text {
  display: block;
  font-size: 18px;
  margin: 20px 0;
  width: 100%; }

.tp-quote {
  font-size: 15px;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 10px;
  border: 2px solid #efcea9;
  border-radius: 5px;
  color: #efcea9;
  margin: 15px 0 15px 20px; }

.tp-quote::before {
  content: open-quote; }

.tp-quote::after {
  content: close-quote; }

@media (max-width: 920px) {
  .tp-title {
    font-size: 22px; }
  .tp-text {
    font-size: 16px; }
  .tp-quote {
    margin-left: 0; } }

@media (max-width: 760px) {
  .tp-title {
    font-size: 18px; }
  .tp-subtitle, tp-example-subtitle {
    font-size: 16px; }
  .tp-text {
    font-size: 14px; }
  .tp-quote {
    font-size: 12px; } }

@media (max-width: 440px) {
  .tp-title {
    font-size: 15px; }
  .tp-subtitle, tp-example-subtitle {
    font-size: 14px; }
  .tp-text {
    font-size: 13px; }
  .tp-link {
    font-size: 12px; }
  .tp-sublink {
    font-size: 12px; } }

@media (max-width: 400px) {
  .tp-link {
    margin-bottom: 10px; }
  .tp-text {
    font-size: 12px; }
  .tp-image__box {
    margin-bottom: 20px; }
  .tp-quote {
    margin-top: 0px;
    font-size: 10px; } }
