/* prestyles */
@font-face {
  font-family: "Liberation";
  src: url(../fonts/LiberationMono-Bold.woff);
}

@font-face {
  font-family: "Caps";
  src: url('../fonts/CapsFont.woff');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  box-shadow: 0;
  font-family: Liberation;
  color: #282828;
}

a {
  text-decoration: none;
}

body {
  min-width: 360px;
}

.content {
  width: 100%;
  height: 100%;
}

/* Header styles */
header {
  background: #000;
  width: 100%;
  height: 80px;
}

.header__container {
  width: 85%;
  margin: 0 auto;
  position: relative;
}

.logotype {
  display: inline-box;
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  position: absolute;
  left: 0;
  top: 20px;
}

.header__title {
  font-size: 30px;
  color: #fff;
  line-height: 80px;
  font-weight: 800;
  position: absolute;
  right: 0;
  top: 0;
}

/* Main styles */
main {
  width: 100%;
  height: auto;
  padding: 50px 7.5%;
  background: #ddd;
}

.main__content {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 5px;
  padding: 30px 50px;
  z-index: 10;
}

.main__block {
  height: auto;
  position: relative;
}

.title {
  display: block;
  font-size: 40px;
  margin-bottom: 15px;
}

.text {
  font-size: 30px;
}

.separator {
  width: 100%;
  height: 4px;
  background: #282828;
  margin: 60px auto;
  border-radius: 10px;
}

.hidden-separator {
  width: 100%;
  height: 4px;
  margin: 60px auto;
}

.non-margin {
  margin-left: -50px;
}

.compact-menu {
  display: none;
  width: 100%;
  height: 40px;
  background: #fff;
  margin: -20px 0 10px 0;
}

.compact-menu__title {
  width: 100%;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.compact-menu__curtain {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #282828;
  z-index: 10;
  opacity: 0.90;
  display: grid;
  place-items: center;
}

.compact-menu__list {
  display: grid;
  grid-template: repeat(5, 1fr) / 1fr;
  width: 100%;
  list-style: none;
  text-align: center;
  line-height: 50px;
  li a {
    color: #fff;
    display: block;
    width: 100%;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.70);
  }
}

.compact-menu__list li a:hover {
    background: rgba(0, 0, 0, 0.90);
}

.cross {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
  transition: 0.2s linear;
  cursor: pointer;
}

.cross::before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 30px;
  background: #fff;
  transition: 0.2s linear;
  transform: rotate(45deg);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.80);
  border-radius: 5px;
}

.cross::after {
  content: '';
  display: inline-block;
  width: 3px;
  height: 30px;
  background: #fff;
  margin: -2px 0 0 -2px ;
  transition: 0.2s linear;
  transform: rotate(-45deg);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.80);
  border-radius: 5px;
}

.menu {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 50px;
  border-radius: 5px;
  background: #fff;
}

.menu__list {
  list-style-type: none;
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
}

.menu__item {
  font-size: 25px;
  display: block;
  height: 50px;
  width: 100%;
  place-self: center;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s linear;
  position: relative;
}

.menu__item:hover {
  background-color: #000;
  color: #fff;
  a {
    display: inline-block;
    color: #fff;
    width: 100%;
    height: 100%;
  }
}

.extreme-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.extreme-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

//submenu start

.menu-sublist__box {
  display: none;
  width: 100%;
  height: auto;
  z-index: 15;
  padding-top: 5px;
}

.menu-sublist {
  display: grid;
  list-style: none;
  grid-template: auto / repeat(4, 1fr);
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.menu-sublist__item {
  display: grid;
  width: 100%;
  height: 36px;
  place-content: center;
  z-index: 15;
  background: #fff;
}

.menu-sublist__item:hover {
  background: #000;
  transition: 0.2s linear;
  cursor: pointer;
  .menu-sublist__link {
    color: #fff;
  }
}

.menu-sublist__link {
  width: 100%;
  height: 100%;
  color: #282828;
}

//submenu end

#to-home {
  width: 150px;
  height: 40px;
  background: #fff;
  margin-bottom: 20px;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  display: none;
  transition: 0.3s linear;
}

#to-home:hover {
  background: #000;
  span {
    color: #fff;
  }
}

/* Themes-page styles */
.themes {
  position: relative;
}

.themes::before {
  content: '';
  position: absolute;
  border-radius: 10px;
  top: -5px; left: -14.2px;
  display: block;
  height: 100%;
  width: 2px;
  background: #ccc;
}

.themes__list {
  width: auto;
  height: auto;
  list-style: none;
}

.themes__sublist {
  margin: 0px 0px 20px 10px;
  list-style: none;
  border-left: 1px solid #ccc;
  position: relative;
}

.themes__sublist::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 1px;
  background: #ccc;
  position: absolute;
  top: 0;
  left: -25px;
}

.themes__sublist::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 18px;
  background: #ccc;
  position: absolute;
  top: -18px;
  left: -25px;
}

.themes__sublist__item::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 1px;
  background: #ccc;
  margin-bottom: 5px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.themes__list__title::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 1px;
  background: #ccc;
  margin: 0px 0px 5px -14px;
  border-radius: 10px;
}

.themes__list__link {
  color: #8BC34A;
  cursor: pointer;
  transition: 0.2s linear;
  position: relative;
}

.themes__list__link:hover {
  color: #827717;
  .link__arrow {
    margin-left: 12px;
  }
}

.link__arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #282828;
  position: absolute;
  top: 1px; left: 105%;
  transition: 0.2s linear;
}

.themes__sublink {
  cursor: pointer;
  transition: 0.2s linear;
  display: inline-block;
  margin-left: 2px;
}

.themes__sublink:hover {
  color: #8BC34A;
  margin-left: 10px;
}

.subtitle {
  display: block;
  color: #282828;
  font-size: 20px;
}

.author {
  margin: 30px 0 40px 0;
  width: 100%;
}

.author .subtitle {
  margin-bottom: 10px;
}

.author__theme,
.author__work-title {
  color: #8E24AA;
}

.author__name {
  color: #000;
  margin-bottom: 10px;
  font-size: 22px;
}

.author span.fas {
  display: inline-block;
  margin-left: 15px;
}

.author span.caps {
  color: #D32F2F;
  font-family: Caps;
}

.author__work-title {
  display: inline;
  font-size: 18px;
  font-weight: 800;
}

.author__work {
  display: inline;
  line-height: 23px;
}

.source {
  width: 100%;
  height: auto;
  margin: 10px 0 20px 0;
}

.source__title {
  font-size: 20px;
  color: #8E24AA;
  font-weight: 800;
  margin-bottom: 15px;
}

.source__content {
  margin-left: 15px;
  line-height: 25px;
}

.source__link {
  text-decoration: underline;
  color: #FF5722;
}

//TP-LAYOUT STYLES
.tp-title {
  font-size: 25px;
  margin-bottom: 10px;
}

.tp-link {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 15px;
  margin-right: 15px;
}

.tp-link::before {
  margin-right: 5px;
}

.tp-subtitle {
  margin: 20px 0;
}

.tp-image__box {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
  text-align: center;
}

.tp-image {
  width: 100%;
  margin-bottom: 2px;
}

.tp-sublink {
  font-size: 15px;
  cursor: pointer;
  margin-left: 15px;
  color: #efcea9;
}

.tp-text {
  display: block;
  font-size: 18px;
  margin: 20px 0;
  width: 100%;
}

.tp-quote {
  font-size: 15px;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 10px;
  border: 2px solid #efcea9;
  border-radius: 5px;
  color: #efcea9;
  margin: 15px 0 15px 20px;
}

.tp-quote::before {
  content: open-quote;
}

.tp-quote::after {
  content: close-quote;
}

/*Media questions*/
@media (max-width: 1680px) {
  .menu__item {
    font-size: 20px;
  }
}

@media (max-width: 1181px) {
  .menu__item {
    font-size: 15px;
  }
  .logotype {
    font-size: 30px;
    top: 25px;
  }
  .header__title {
    font-size: 20px;
    top: 2px;
  }
  .title {
    font-size: 30px;
  }
  .text {
    font-size: 24px;
  }
}

@media (max-width: 991px) {
  header {
    height: 60px;
  }
  .logotype {
    font-size: 24px;
    top: 20px;
  }
  .header__title {
    font-size: 18px;
    top: -8px;
  }
  .title {
    font-size: 25px;
  }
  .text {
    font-size: 20px;
  }
  .hidden-separator {
    margin: 30px auto;
  }
}

@media (max-width: 870px) {
  .menu {
    height: 35px;
    margin-bottom: 20px;
  }
  .menu__list {
    height: 35px;
  }
  .menu__item {
    height: 35px;
    line-height: 35px;
    font-size: 12px;
  }
}

@media (max-width: 769px) {
  .title {
    font-size: 20px;
  }
  .text {
    font-size: 15px;
  }
  .non-margin {
    margin-left: -50px;
  }
  .string__number {
    font-size: 12px;
    width: 20px;
  }
  .hidden-separator {
    margin: 20px auto;
  }
}

@media (max-width: 680px) {
  main {
    padding: 30px 0;
  }
  .main__content {
    border-radius: 0px;
  }
  .menu__item {
    border-radius: 0;
  }
  #to-home {
    width: 100px;
    height: 35px;
    margin-bottom: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    span {
      font-size: 10px;
    }
  }
  .menu-sublist {
    border-radius: 0;
  }
  .menu-sublist__link {
    font-size: 12px;
    font-weight: 800;
  }
}

@media (max-width: 571px) {
  header {
    height: 50px;
  }
  .logotype {
    font-size: 20px;
    top: 15px;
  }
  .header__title {
    font-size: 14px;
    top: -15px;
  }
  .main__content {
    padding: 30px 30px;
  }
  .menu__item a {
    font-size: 10px;
  }
  .title {
    font-size: 18px;
  }
  .text {
    font-size: 12px;
  }
  .string__number {
    font-size: 10px;
    line-height: 20px;
  }
  .portraits__block {
    height: 200px;
    margin-top: 40px;
  }
  .portrait {
    height: 200px;
  }
  .portrait__image {
    height: 180px;
  }
  .border__table {
    height: 20px;
  }
  .portrait__lable {
    font-size: 10px;
    line-height: 20px;
  }
  .author {
    margin: 10px 0 40px 0;
  }
  .subtitle {
    font-size: 15px;
  }
  .author__name {
    font-size: 15px;
  }
  .author__work-title {
    font-size: 15px;
  }
  .author__work {
    font-size: 12px;
    line-height: 12px;
  }
  .source__title {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .source__content {
    font-size: 13px;
    line-height: 18px;
  }
  .menu-sublist__link {
    font-size: 10px;
  }
}

@media(max-width: 450px) {
  .menu {
    display: none;
  }
  .compact-menu {
    display: block;
  }
  .themes__list__link {
    font-size: 12px;
  }
  .themes__sublink {
    font-size: 12px;
    margin-left: 2px;
  }
  .link__arrow {
    top: 0;
  }
}

@media(max-width: 410px) {
  .logotype {
    font-size: 15px;
    top: 18px;
  }
  .header__title {
    font-size: 12px;
  }
  .author__name {
    font-size: 14px;
  }
  .source__content {
    font-size: 12px;
  }
}

@media(max-width: 380px) {
  .portrait {
    width: 100%;
    padding: 0 5%;
  }
  .portrait__image,
  .border__table {
    width: 100%;
  }
  .source__content {
    font-size: 11px;
    font-weight: 800;
  }
}
